html, body, #carousel, #carousel ul, #carousel li
{
    min-height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

#carousel 
{
    background: silver;
    overflow: hidden;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
    -webkit-transform-style: preserve-3d;
}

#carousel ul.animate 
{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#carousel ul
{
    -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

#carousel ul 
{
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.2);
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    position: relative;
}

#carousel li
{
    float: left;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,0);
}

.bubble 
{
    position: relative;
    width: 200px;
    height: 90px;
    padding: 0px;
    float: left;
    background: #FFFFFF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-left: 40px;
    margin-top: -40px;

}

.bubble:after 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px 13px 12px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    left: -13px;
    top: 51px;
}
.newevent
{
    background-color: #FFFFFF !important;  
	font-size: 200% !important; 
    height: 11% !important;
	line-height: 20    0%; 
    box-shadow: 0px 3px 3px #888888;
    padding: 0 50% 0 50%;
}

.newevent p
{
    vertical-align: middle !important;
}
.event
{
    margin: 15px 0px 0px 0px; 
    height: 20% !important;
    width: 100%;
    background-color: #D9E852;  
    padding: 5px 0 0 5px; 
}

.event h1
{
    color: #fff; 
    padding: 10px 0px 0px 20px;
    font-size: 15px;
    text-align: left;
    width: 50%;
    text-shadow: -1px -1px 0 rgba(0,0,0,.2);
}

.accept
{
    width: 20% !important;
    background-color: white;

}
.eventaccept
{
    margin: 15px 0px 0px 0px; 
    height: 20% !important; 
    background-color: #54BE68 !important;   
}

.eventaccept h1
{
    color: #fff; 
    padding: 10px 0px 0px 20px;
    font-size: 15px;
    text-align: left;
    width: 100%;
    text-shadow: -1px -1px 0 rgba(0,0,0,.2);
}


.eventdecline
{
	margin: 15px 0px 0px 0px; 
    height: 20% !important;
	background-color: #F26444 !important; 	
}

.eventdecline h1
{
    color: #fff; 
    padding: 10px 0px 0px 20px;
    font-size: 15px;
    text-align: left;
    width: 100%;
    text-shadow: -1px -1px 0 rgba(0,0,0,.2);
}

/*Första wrappern*/
.wrapper1 
{
    margin: 0;
    padding: 0;
    background-color: #F2E2DF !important; 
    min-width: 100%;
    height: 20% !important; 
}

.activity-header
{
    float: left; 
    width: 50%;
}

.activity-header h1
{
    color: #000000; 
    padding: 0px 0px 0px 20px;
    font-size: 25px;
    text-align: left;
    padding-top: 10px;
    font-family: 'Abril Fatface', cursive;
    letter-spacing:2px;
}

.activity-icon 
{
   float: right;
    width: 50%;
}

.activity-icon img 
{
   width: 50px;
   height: 50px;
   padding-top: 20px;
}

.clear
{
    clear:both;    
}

/*Andra wrappern*/
.wrapper2 
{
    margin: 0px 0px 0px 0px; 
    background-color: lightblue !important;
    min-width: 100%;
    height: 30% !important;
}

.description-img {
    float: left; 
    width: 100px !important;
}


.description-text {
    float: right;
    width: 80%;
}

/* slut på andra wrappern */

.wrapper3 
{
    padding: 0; 
    min-width: 100%;
    height: 50% !important;
}

.profile {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 1%;
}

.pictures
{
    color: #666;
    margin: 0 auto;
    min-width: 100%;
    text-align: center;
    height: 20% !important;
    background-color: green !important;  
}

.friends 
{

    margin-left: 35px;

    padding: 1% 0 0 6%;

    color: #666;
    min-width: 100%;    
    font-size: 125%; 
    background-color: #F2E2DF !important;

}


.profilefriends
{
   width: 75px;
   height: 75px;
   border-radius: 50%;
   -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; 
    position: relative;
    right: 35px;
}

input[type='checkbox']
{
    position: relative;
    left: 35px;
    width:25px;
    height:25px;
}

.attending
{
    width: 30px;
    height: 30px;
    padding: 0 2px 0 0;
}

.notattending
{
    width: 30px;
    height: 30px;
    opacity: 0.4;
    padding: 0 2px 0 0;
}

.event h1
{
    margin: 0 0 5 70px;
    line-height: 100%;
    padding-left: 70px;
}

.event h2
{
    font-size: 10px;
    float: right;
}

.event p
{
    font-size: 15px;
    line-height: 50%;
    text-align: left;
    margin: 0 0 0 50px;
    color: #fff; 
    padding: 0px 0px 10px 20px;
    text-shadow: -1px -1px 0 rgba(0,0,0,.2);
}

.lefty
{
    float: left;
    width: 80%;  
    height: 20%;  
}

.righty
{
    float: right;
    width: 20%;
    height: 20%;    
}

.clear
{
    clear:both;    
}

.left
{
    float: left;

}

.right
{
    float: right;
    display: inline-block;
}


.tryckner
{
    margin-top: 50px;
    margin-left: 40px;
}

.noevents
{
    padding: 20px 0 0 30px;
}

.snurra 
{
    position: relative;
    width: 12em;
    height: 2em;
    -webkit-transform: translateZ(-10px) rotateX(0deg);
    -moz-transform: translateZ(-10px) rotateX(0deg);
    -ms-transform: translateZ(-10px) rotateX(0deg);
    -o-transform: translateZ(-10px) rotateX(0deg);
    transform: translateZ(-10px) rotateX(0deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 250ms;
    -moz-transition: -moz-transform 250ms;
    -ms-transition: -ms-transform 250ms;
    -o-transition: -o-transform 250ms;
    transition: transform 250ms;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 3000;
    -moz-perspective: 3000;
    -ms-perspective: 3000;
    perspective: 3000;
}

h3 {
    font-size: 16px;
}

.snurra h3 
{
      position: absolute;
      width: 100%;
      height: 100%;
      font-size: 16px;
}

.snurra h3:nth-child(1) 
{
        -webkit-transform: rotateX(0deg) translateZ(10px);
        -moz-transform: rotateX(0deg) translateZ(10px);
        -ms-transform: rotateX(0deg) translateZ(10px);
        -o-transform: rotateX(0deg) translateZ(10px);
        transform: rotateX(0deg) translateZ(10px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden; 
}

.snurra h3:nth-child(2) 
{
        -webkit-transform: rotateX(90deg) translateZ(10px);
        -moz-transform: rotateX(90deg) translateZ(10px);
        -ms-transform: rotateX(90deg) translateZ(10px);
        -o-transform: rotateX(90deg) translateZ(10px);
        transform: rotateX(90deg) translateZ(10px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden; 
}

.snurra h3:nth-child(3) 
{
        -webkit-transform: rotateX(180deg) translateZ(10px);
        -moz-transform: rotateX(180deg) translateZ(10px);
        -ms-transform: rotateX(180deg) translateZ(10px);
        -o-transform: rotateX(180deg) translateZ(10px);
        transform: rotateX(180deg) translateZ(10px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden; 
}

.snurra h3:nth-child(4) 
{
        -webkit-transform: rotateX(270deg) translateZ(10px);
        -moz-transform: rotateX(270deg) translateZ(10px);
        -ms-transform: rotateX(270deg) translateZ(10px);
        -o-transform: rotateX(270deg) translateZ(10px);
        transform: rotateX(270deg) translateZ(10px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden; 
}

.snurra > h3:nth-child(3), .snurra 
{
    display: inline-block;
    vertical-align: top;
    font-size: 16px; 
}

.snurra > h3:last-child
{
    padding: 2em 0 0 0;
}


#carousel li.pane1 { background: #F2E2DF; }
#carousel li.pane2 { background: #F2E2DF; }
#carousel li.pane3 { background: #F2E2DF; }
#carousel li.pane4 { background: #F2E2DF; }
